# Enable URL rewriting
RewriteEngine On

# Set the base directory
RewriteBase /

# Don't rewrite requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to the front controller
RewriteRule ^(.*)$ index.php [QSA,L]

# Prevent directory listing
Options -Indexes

# Deny access to sensitive files
<FilesMatch "\.(env|pwd|json|lock|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>
